@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital@0;1&family=Poppins&display=swap')

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
 }

    .img-menu{
        height: 60px;
    }

    .enu{
        box-shadow: 0px 0px 15px rgb(59, 58, 58);
        background-color: #ECF0F1;
    }
        main{
            margin-top: 30px;
            min-width: 300px;
            margin-bottom: 30px;
            padding: 20px;
            background-color: hwb(0 100% 0%);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

    .nav-link{
        margin: 0px 20px;
        align-items: center;
        padding: 20px 10px ;
        border-radius: 5px;
    }

    .login{
        background-color: #2591f7;
        height: 40px;
        width: 80px;
        border-radius: 12px;
        margin: 20px;
    }
    .login a {
        color: #fff;
    }
   
    .recomendados{
        
        margin: 20px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px ;
    }

    .titulo{
        display: flex;
        font-size: 1.8rem;
        margin: 60px 0px -75px 0px;
    }
    .card-livro{
        background-color: #fff;
        width: 180px;
        
        border-radius: 12px;
        box-shadow: 10px 10px 30px black;
        margin: 80px 30px 15px;
    }


    .img-livro{
        border-radius: 12px;
        width: 100%;
    }
    .card-livro div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        gap: 4px;
    }
    .card-livro h1 {
        font-size: 1.2rem;
        font-family: 'Nunito', cursive;

    }
    .card-livro h2{
        font-size: .9rem;
        color: #4b4a4a;
        font-family: 'Nunito', cursive;
    }

    .saiba{
        color: #fff;
    }
    .card-livro button {

    background-color:#2591f7;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 12px ;
    box-shadow: 5px 5px 20px black;
}


.botaop{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.cat-completo{
    background-color: #2591f7;
    height: 60px;
    border: none;
    padding: 4px;
    width: 40%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 12px ;
    margin: 30px;
    
}

.cat-completo a {
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}   


.comentarios{
    background-color: #ECF0F1;
}

.comentarios h1 {
    font-size: 1.5rem;
    margin: 20px 10px -30px 10px;
}
.textos p{

    font-size: 0.7rem;
}
.textos img{
    border-radius: 50%;
}

.nav-com{
    display: flex;
}

.textos{
    height: 200px;
    width: auto;
    padding: 10px;
    margin: 30px;
}




.promocoes{
    background-color: #ECF0F1;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.itens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.itens h1{
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
}
.itens h2{
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}
.promocoes input{
    width: 60%;
    border-radius: 12px;
    margin: 15px;
    padding: 5px;
}
.promocoes button {
    background-color:#5BB4BA;
    height: 30px;
    border: none;
    padding: 4px;
    width: 30%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 12px ;
}






footer{
    background-color: #ECF0F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 200px;
    width: 100%;
}

.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contatos h1 {
    font-size: 2rem;
}
.contatos h2 {
    font-size: 1.2rem;
}

@media screen and (max-width: 800px){

    .recomendados{
        
        margin: 20px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px ;
    }

    .card-livro{
        width: auto;
    }
    .itens h1{
        font-size: 1.5rem;
    }
    .items h2{
        font-size: 0.7rem ;
    }

    .titulo{
        font-size: 1.5rem;
    }

    .corrossel{
        width: 100%;
    }


    .card-livro button{
        font-size: 0.7rem;
    }


    .cat-completo a{
        font-size: 1rem;
    }

    .contatos h1 {
        font-size: 1rem;
    }
    .contatos h2 {
        font-size: 0.9rem;
    }

    .nav-com{
        display: flex;
        flex-direction: column;
    }
    .textos{
        width: auto;
        padding: 10px;
        margin: 30px;
    }
}














